@font-face {
	font-family: "Quicksand";
	src: url("fonts/Quicksand-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: Arial, sans-serif;
}

h1,
h2 {
	color: oklch(70.5% 0.213 47.604); /* orange-500 */
}

h1 {
	font-size: x-large;
}

h2 {
	font-size: larger;
}

section {
	margin: 1rem 1rem 1rem 1rem;
}

article {
	padding-top: 1rem;
	width: 100%;
}

article hr {
	color: oklch(87.2% 0.01 258.338); /* gray-300 */
	margin: 2rem 0;
}

section ul,
section p {
	margin-top: 0.5rem;
}

section a {
	color: oklch(47% 0.157 37.304); /* orange-800 */
	transition-property: color;
	transition-timing-function: cubic-bezier(
		0.4,
		0,
		0.2,
		1
	); /* default-transition-timing-function */
	transition-duration: 150ms; /* default-transition-duration */
}

section a:hover {
	color: oklch(55.3% 0.195 38.402); /* orange-700 */
	text-decoration: underline;
}

section a:focus {
	color: oklch(40.8% 0.123 38.172); /* orange-900 */
}

*:not(:defined) {
	visibility: hidden;
}

@media screen and (max-width: 640px) {
	section {
		margin: 1rem 0.5rem 1rem 0.5rem;
	}
}
