body {
	font-family: Arial, sans-serif;
}

h1 {
	font-size: x-large;
}

h2 {
	font-size: larger;
}

section {
	margin: 1rem 0 1rem 1rem;
}

section ul,
section p {
	margin-top: 0.5rem;
}

h1,
h2 {
	color: var(--color-orange-500);
}

*:not(:defined) {
	visibility: hidden;
}

@media screen and (max-width: 640px) {
	section {
		margin: 1rem 0 1rem 0.5rem;
	}
}
